body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}
.body-wrapper {
  width: 100%;
  margin: 0 auto;
}
header {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.menu-list {
  display: flex;
}
.menu-list-item {
  margin-left: 20px;
}
.menu-list-item-link {
  color: #000;
  font-weight: 600;
  font-size: 18px;
}
.burger-checkbox {
  position: absolute;
  visibility: hidden;
}
.burger-menu {
  display: none;
}
.burger {
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
  margin: 30px auto;
}
.burger::before,
.burger::after {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #000;
}
.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #000;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
}
.burger::after {
  bottom: 0;
  transition: bottom 0.3s 0.15s, transform 0.3s;
}
.burger-checkbox:checked + .burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
}
.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom 0.3s, transform 0.3s 0.15s;
}
.menu-list-item-link:hover {
  text-decoration: underline;
  transition: 0.3ms;
}
main {
  background-image: url("../img/contact-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-container {
  width: 70%;
  margin: 0 auto;
}
.contact-bt {
  text-align: center;
  border: none;
  outline: none;
  color: #000;
  background-color: #fff;
  padding: 10px 15px 10px 15px;
  font-size: 24px;
  cursor: pointer;
  width: 200px;
  margin-top: 100px;
  border-radius: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}
.main-logo {
  color: #fff;
  font-size: 72px;
  font-weight: 600;
}
.contact-bt:hover {
  background-color: rgb(74, 74, 254);
  color: #fff;
}
.contacts-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}
.map {
  width: 60%;
}
.form-block {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 23px -14px rgba(66, 68, 90, 1);
  padding: 30px 25px 30px 25px;
  width: 30%;
}
.contact-header {
  font-size: 24px;
  font-weight: 500;
  border-bottom: 1px solid black;
  text-align: center;
  padding-bottom: 15px;
}
input {
  margin-top: 20px;
  width: 95%;
  outline: none;
  font-size: 18px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  border: 1px solid gray;
}
input::placeholder {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}
.big-input {
  height: 100px;
  width: 95%;
  max-width: 95%;
  margin-top: 20px;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px;
  outline: none;
}
.big-input::placeholder {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}
INPUT[type="text"]:focus {
  outline: 2px solid rgb(0, 110, 255);
}
.policy-link {
  color: rgb(0, 110, 255);
}
.big-input:focus {
  outline: 2px solid rgb(0, 110, 255);
}
.input-checkbox {
  width: 10%;
  outline: none;
  border: none;
}
.accept-text {
  width: 100%;
  display: block;
}
.bt-send {
  text-align: center;
  border: none;
  outline: none;
  color: #fff;
  background-color: rgb(74, 74, 254);
  padding: 5px 10px 5px 10px;
  font-size: 24px;
  cursor: pointer;
  width: 200px;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}
.bt-send:hover {
  background-color: rgb(82, 82, 190);
  color: #fff;
}
footer {
  background-color: rgb(220, 220, 220);
  margin-top: 150px;
  padding: 30px 0 30px 0;
}
.footer-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-item {
  margin-top: 25px;
}
.footer-link {
  color: #000;
  font-weight: 600;
  font-size: 18px;
}
.footer-link:hover {
  color: rgb(81, 81, 254);
}

@media (max-width: 800px) {
  .menu-list {
    display: none;
  }
  .burger-menu {
    display: block;
  }
}
