body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}
.mobile-menu {
  background-color: #fff;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}
.mobile-menu-list {
  margin: 0 auto;
}
.mobile-menu-list-item {
  padding: 25px;
  text-align: center;
}
.menu-list {
  display: flex;
}
.menu-list-item {
  margin-left: 20px;
}
.menu-list-item-link {
  color: #000;
  font-weight: 600;
  font-size: 18px;
}
.menu-list-item-link:hover {
  text-decoration: underline;
  transition: 0.3ms;
}
.burger-checkbox {
  visibility: hidden;
}
.burger-menu {
  display: none;
}
.burger {
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
  margin-bottom: 30px;
}
.burger::before,
.burger::after {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #000;
}
.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #000;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
}
.burger::after {
  bottom: 0;
  transition: bottom 0.3s 0.15s, transform 0.3s;
}
.burger-checkbox:checked + .burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
}
.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom 0.3s, transform 0.3s 0.15s;
}
.main-container {
  width: 80%;
  margin: 0 auto;
}
.policy-header {
  margin-top: 50px;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
}
.policy-text {
  margin-top: 20px;
  font-size: 18px;
}
footer {
  background-color: rgb(220, 220, 220);
  margin-top: 150px;
  padding: 30px 0 30px 0;
}
.footer-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-item {
  margin-top: 25px;
}
.footer-link {
  color: #000;
  font-weight: 600;
  font-size: 18px;
}
.footer-link:hover {
  color: rgb(81, 81, 254);
}
@media (max-width: 800px) {
  .menu-list {
    display: none;
  }
  header {
    width: 90%;
  }
  .burger-menu {
    display: block;
  }

  .footer-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .cookies-container {
    width: 90%;
  }
}
